# Environment & Secrets
config/.env

# Data
data/

# Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter & IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
